body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* height: 2000px; */
}

.container {
    margin-top: 52px;
}

/* navigation */
.nav{
    z-index: 999!important;
    overflow: hidden;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;

}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    margin: 0;
    padding: 0;
    top: 0;
}

li {
    float: left;
}

.signIn {
    float: right;
}

.signIn>a {
    font-size: 13.5px;
    background-color: #007aff;
    margin-right: 50px;
    margin-top: 14px;
    padding: 5px 12px;
    border-radius: 5px;
}

.signIn>a>i {
    font-size: 12.5px;
    padding-right: 2px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 15px 12px 15px;
    text-decoration: none;
}

li>a>img {
    width: 53px;
    padding-left: 24px;
}

/* head-season */
.head-season{
    padding: 0px;
}
.head-season>img{
    width: 100%;
}
.body-season>.upperSeason{
    position: absolute;
    top: 60px;
    color: white;
    left: 50px;
}
.body-season>.upperSeason>p{
    font-weight: bolder;
}
.body-season>.upperSeason>.name{
    font-size: 17px;
}
.body-season>.upperSeason>.epi{
    font-size: 12px!important;
}
.body-season>.upperSeason>.seasonLogo{
    margin-top: 30px;
    width:350px;
}
.body-season>.downSeason{
    left: 50px;
    right: 50px;
    position: absolute;
    top: 680px;
    color: white;
    display: flex;
}
.body-season>.upperSeason>h3{
    font-size: 34px;
    margin-top: -15px;
    margin-bottom: -5px;
}
.downSeason>.start{
    margin-right: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
}
.downSeason>.start>p{
    text-align: center;
    font-size: 12px;
}
.downSeason>.start>a{
    text-align: center;
    text-decoration: none;
    padding: 8px 20px;
    background-color: white;
    color: black;
    margin: 3px 0px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
}
.downSeason>.start>a>i{
    margin-right: 5px;
}
.downSeason>.end{
   margin-top: 15px;
    margin-left: 20px;
    width: 30%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.downSeason>.middle{
   padding: 0pc 20px;
   margin-top: 15px;
}
.downSeason>.middle>p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 40px
}
.downSeason>.middle>.middleDown>img:nth-child(3){
    width: 25px;
}
/* season */
.season{
    padding: 0px 50px;
}
#info{
    text-align: start;
    color: rgba(0, 0, 0, 0.56);
    height: 101px;
}
#info>p{
    font-size: 11px;
    margin-top: 4px;
    cursor: pointer;
}
#info>.epiName{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: black;
    margin-top: -10px;
    cursor: pointer;
}
#info>p:nth-child(3){
    font-size: 12px;
    margin-top: -13px;
    height: 35px;
    cursor: pointer;
}
#info>#time-zone{
    display: flex;
    text-align: end;
    cursor: pointer;
}
#info>#time-zone>p{
    height: 15px;
    font-size: 12px;
    line-height: 1.25;
    margin-top: 3px;
    flex-wrap: wrap;
    margin-right: 10px;
    cursor: pointer;
}
#info>#time-zone>img{
    width: 22px;
    padding: 5px;
    height: 13px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    opacity: .6;
    cursor: pointer;
}
#info>#time-zone>img:nth-child(6){
    width: 26px;
}
#info>#time-zone>img:nth-child(3){
    width:40px;
}
#info>.epiName:hover,#info>p:nth-child(1):hover{
    text-decoration: underline;
}

/* dive */
.deeper{
    position: absolute;
    top: 20px;
    padding: 40px;
    width: 35%;
}
.deeper>h3,.deeper>h2{
    color: white;
}
.deeper>h2{
    margin-bottom: 1px;
}
.deeper>.para{
    color: rgba(243, 240, 240, 0.56);
    font-size: 17px!important;
    margin-bottom: -15px;
}
/* free-trial part */
.free-trial{
    padding: 0px 50px;
    margin-bottom: 30px;
}
.free-trial>h3{
    font-size: 17px;
}
.free-trial>div{
    width: 18%;
}
.free-trial>div>div{
    box-shadow: 0px 0px 2px 3px gainsboro;
    border-radius: 8px;
    background-color: rgb(240, 240, 243);
}
.free-trial>div>div>img{
    width: 100%;
    border-radius:8px  8px 0px 0px;
}
.free-trial>div>div>p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px 20px 20px 15px;
}
.free-trial>div>p{
    font-size: 11px;
    text-align: center;
    margin-top: -8px;
}

/* cast and crew */
.cast,.related,.bonus,.trailer,.dive{
    padding: 0px 50px;
}
.cast .block #crew{
    z-index: -1!important;
}
.row,.row-1{
    margin: 5px;
    text-align: center;
}
.row>img{
    border-radius: 100%;
}
.row>p{
    font-size: 12px;
}
.row>.dname{
    margin-top:-10px ;
    color: rgba(0, 0, 0, 0.56);
}

/* related */
.row-1>img{
    border-radius: 10px;
    cursor: pointer;
}
.row-1>p{
    text-align: start;
    font-size: 12px;
    margin-top: 1px;
}

/* owl carousel buttons */
.owl-nav>button{
    border: none!important;
    outline: none!important;
    background-color: transparent!important;
    width: 45px!important;
    height: 100px!important;
    border-radius: 2px!important;
    box-shadow: 1px gray;    
}
.owl-prev,.owl-next{
    position: absolute;
    top:47%;
    transform: translateY(-50%);
    color:#000!important;
    font-size: 50px!important;
    font-weight: 500;
    /* display: none; */
}
.owl-next{
    right:-3%;
}
.owl-prev{
    left: -3%;
}

/* .owl-carousel:hover .owl-prev:hover,.owl-carousel:hover .owl-next:hover{
    display: block;
} */

/* sticky footer */
.bottomMenu {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #000;
    background-color: #262629;
    z-index: 1;
    transition: all 0.3s;
    color: whitesmoke;
    display: flex;
    padding: 0px 30px;
    padding-bottom: 20px;
}

.hide {
    opacity: 0;
    bottom: -100%;
}

.show {
    opacity: 1;
    bottom: 0;
}

.bottomMenu>.bottomLeft {
    margin-top: 10px;
    width: 70%;
}

.bottomMenu>.bottomLeft>.first {
    font-size: 17px;
    font-weight: 600;
}

.bottomMenu>.bottomLeft>.second {
    margin-top: -11px;
    font-size: 14px;
    color: rgb(213, 212, 212);
}

.bottomMenu>.bottomLeft>.second>a {
    text-decoration: none;
    color: #3e93ee;
    font-weight: 600;
}

.bottomMenu>.bottomRight {
    margin-top: 40px;
    width: 30%;
}

.bottomMenu>.bottomRight>a {
    margin-left: 55%;
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
    padding: 6px 20px 10px 20px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700;
}

.bottomMenu>.bottomRight>p {
    margin-left: 53%;
    font-size: 11px;
    color: rgb(174, 174, 174);
    margin-top: 13px;
}

/* footer part*/
.footer{
    margin-bottom: 120px;
}
.footer>.footer-container {
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(240, 240, 243);
    padding-top: 10px;
}

.footer>.footer-container>.footerUp,
.footer>.footer-container>.footerDown {
    background-color: rgb(240, 240, 243);
}
.footer>.footer-container>.footerUp>h3,
.footer>.footer-container>.footerDown>div>.cards>h3 {
    font-size: 17px;
    padding: 13px 0px;
}
.footer>.footer-container>.footerUp>.cards {
    display: flex;
}

.footer>.footer-container>.footerUp>.cards>div {
    width: 30%;
    margin: 0px 15px 15px 0px;
    background-color: white;
    padding: 0px 20px;
    border-radius: 10px;
}

.footer>.footer-container>.footerUp>.cards>div>h4 {
    font-size: 17px;
    padding: -13px 0px;
}

.footer>.footer-container>.footerUp>.cards>div>p {
    margin-top: -20px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.56);
}

.footer>.footer-container>.footerUp>.cards>div>.det {
    padding-top: 15px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer>.footer-container>.footerUp>.cards>div>div>div>img{
    width: 25px;
    margin-top: 20px;
}
.footer>.footer-container>.footerUp>.cards>div>div>div>span{
    font-weight: bolder;
}
.footer>.footer-container>.footerUp>.cards>div>div>p{
    margin-top: 2px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.56);
}
.footer>.footer-container>.footerDown{
    margin-top: -20px;
}
.footer>.footer-container>.footerDown>div{
    display: flex;
}
.footer>.footer-container>.footerDown>div>div{
    width: 32%;
    margin: 0px 10px;
}
.footer>.footer-container>.footerDown>div>.cards>div>.tag{
    font-size: 12px;
}
.footer>.footer-container>.footerDown>div>.cards>div>.des{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.56);
    margin-top: -10px;
}
.line {
    display: inline-block;
    width: 100%;
    border-top: 0.1px solid rgb(203, 203, 203);
}
  .footer>.footer-container>.footerDown>div>.cards>div>.des>a{
    text-decoration: none;
}
.copyryt{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
}
.copyryt>div,.copyryt>div>div{
    display: flex;
}
.copyryt>div>div{
    width: 80%;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.56);
}
.copyryt>div>div>a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.56) ;
    margin-top: 11px;
    padding: 0px 5px;
}
.copyryt>div>.countryName{
    width: 20%;
    padding-left: 50%;
    text-align: end;
    font-size: 11px;
}
.copyryt>.copy-down{
    margin-top: -13px;
}
.copyryt>div>p{
    font-size: 11px;
    padding-right: 5px;
}
.copyryt>div>.hr{
    height: 15px;
    border-left: 1px solid rgb(219, 219, 219);
    padding: 0px 5px;
    margin-top: 13px;
}

